body  {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** Header **/
#header-nav {
  background-color: #979B9B;
  border: 1px solid #000000;
  border-radius: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1  {
  font-family: 'lora', serif;
  color: #0A0B0B;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus  {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a   {
  color: #000;
  text-align: center;
}

#nav-list a:hover {
  background: #fff;
}

#nav-list a span  {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/** End Header **/

/* HOME PAGE */ 
#categories-title {
  font-family: 'lora', serif;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
}

.item-tile {
  position: relative;
  border: 0 solid #3F0C1F;
  overflow: auto;
  width: 100%;
  height: 1000px;
  background-color: #979B9B;
  font-size: 1.1em;
  margin-top: 15px;
}

.item-tile hr  {
  width: 80%;
}

.item-description {
  color: #000000;
  padding-right: 30px;
  padding-left: 20px;
  text-align: justify;
}
.item-title {
  color: #000000;
  font-weight: bold;
  margin: 15px 0 15px;
  text-align: center;
}
h3.item-details {
  font-size: 1em;
/*  font-style: italic;*/
}
/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand  {
    padding-bottom: 25px;
    text-align: left;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand  {
    padding-top: 10px;
    text-align: left;
  }  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 15px;
    height: 80px;
  }

  .navbar-brand h1  {
    padding-top: 10px;
    font-size: 5vw;
  }

  #collapsable-nav a  {
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }
}
